<div class="nav">
	<div class="con">
		<div class="logo">
			<a title="XF 轻量级社区系统" href="./"><img width="265" height="28" src="style/images/logo.gif" /></a>
		</div>
		<div class="topright">
		{if $show.user.userId>0}
			<a href="{$show.user.blogUrl}"><b>{$show.user.userName}</b></a>
			<a href="{$url.root}">社区首页</a>
			|
			<a href="{$url.root}/index.php?do=login&act=logout">退出</a>
		{else} 
			<a href="{$url.login}">登录</a> 
			|
			<a href="{$url.register}">注册</a>
		{/if}
		</div>
	</div>
</div>