<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>XSS Platform</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/css.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://www.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{include file="header.html"}
<div class="container">
{include file="menus.html"}
<div class="col-sm-9" style="float:right;">
            	<div class="panel panel-default">
    			<div class="panel-heading">我的模块<a href="{$url.root}/index.php?do=module&act=create" style="float:right;">创建模块</a></div>  
	<table class="table" border="0" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th width="200">模块名称</th>
				<th>模块描述</th>
				<th width="100">创建时间</th>
				<th width="150">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach from=$modules item=v}
			<tr>
				<td>{$v.title}</td>
				<td>{$v.description}</td>
				<td>{$v.addTime|date_format:'%Y-%m-%d'}</td>
				<td>
				<a href="{$url.root}/index.php?do=module&act=set&id={$v.id}">配置</a> &nbsp; 
				<a href="{$url.root}/index.php?do=module&act=delete&id={$v.id}&token={$show.user.token}" onclick="return confirm('确定删除吗?');">删除</a>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
</div>
</div>
</body>
</html>