<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>XSS Platform</title>
<link rel="stylesheet" href="{$url.themePath}/style/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="{$url.themePath}/style/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]><link rel="stylesheet" href="{$url.themePath}/style/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="{$url.themePath}/style/style.css" type="text/css" media="screen, projection">
<script type="text/javascript" src="{$url.root}/source/js/jquery.js"></script>
{literal}
<style>
ul { margin:0}
</style>
{/literal}
</head>
<body>
<div class="container">
{include file="header.html"}
{include file="menus.html"}
<div class="span-19 right">
<p>当前位置： <a href="{$url.root}/index.php">首页</a> > 项目代码</p>
<caption><h3>项目名称: {$project.title}</h3></caption>
<p>
<label>项目代码：</label>
<code>
{$code}
</code>
</p>
<label>如何使用：</label>
<p>将如下代码植入怀疑出现xss的地方（注意'的转义），即可在 <a href="{$url.root}/index.php?do=project&act=view&id={$project.id}">项目内容</a> 观看XSS效果。</p>
<code>
{$scriptShow1}
</code>
</p>
<p>
或者
</p>
<p>
<code>
{$scriptShow2}
</code>
</p>

<p>

再或者以你任何想要的方式插入

</p>

<p>
<code>
{$codeurl}
</code>
</p>
<p> 
*************************************************网址缩短************************************************* 
</p> 
<p> 

再或者以你任何想要的方式插入 

</p> 

<p> 
<code>
{$shortShow1}
</code>
</p>
<p> 

再或者以你任何想要的方式插入 

</p> 

<p> 
<code>
{$shortShow2}
</code>
</p>

<p> 

再或者以你任何想要的方式插入 

</p> 

<p> 
<code>
{$shortShow3}
</code>
</p>

<p>
{if $ty=='create'}
<input type="button" value="完成" onclick="location.href='{$url.root}/index.php'" />
{else}
<input type="button" value="返回首页" onclick="location.href='{$url.root}/index.php'" />
{/if}
</p>
</div>
</div>
</body>
</html>