<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>XSS Platform</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{$url.themePath}/css/css.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://www.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
{literal}
<style>
ul { margin:0}
</style>
{/literal}
</head>
<body>
{include file="header.html"}
<div class="container">
{include file="menus.html"}
<div class="col-sm-9">
          <div class="panel panel-default">
    	<div class="panel-heading">项目代码</div>
		<div style="padding: 10px 15px;">
<caption><h3>项目名称: {$project.title}</h3></caption>
<p>
<label>项目代码：</label>
<pre>
{$code}
</pre>
</p>
<label>如何使用：</label>
<p>将如下代码植入怀疑出现xss的地方（注意'的转义），即可在 <a href="{$url.root}/index.php?do=project&act=view&id={$project.id}">项目内容</a> 观看XSS效果。</p>
<pre>
{$scriptShow1}
</pre>
</p>
<p>
或者
</p>
<p>
<pre>
{$scriptShow2}
</pre>
</p>

<p>

再或者以你任何想要的方式插入

</p>

<p>
<pre>
{$codeurl}
</pre>
</p>
<p> 
*************************************************网址缩短************************************************* 
</p> 
<p> 

再或者以你任何想要的方式插入 

</p> 

<p> 
<pre>
{$shortShow1}
</pre>
</p>
<p> 

再或者以你任何想要的方式插入 

</p> 

<p> 
<pre>
{$shortShow2}
</pre>
</p>

<p> 

再或者以你任何想要的方式插入 

</p> 

<p> 
<pre>
{$shortShow3}
</pre>
</p>

<p>
{if $ty=='create'}
<input class="btn btn-success" type="button" value="完成" onclick="location.href='{$url.root}/index.php'" />
{else}
<input class="btn btn-success" type="button" value="返回首页" onclick="location.href='{$url.root}/index.php'" />
{/if}
</p>
</div>
</div>
</div>
</div>
</body>
</html>